/*==========================
MIRA Y APRENDE
==========================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;
background:#0d0d0d;
color:white;
overflow-x:hidden;

}

/*==========================
SCROLL
==========================*/

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#111;
}

::-webkit-scrollbar-thumb{
background:#00c853;
border-radius:20px;
}

/*==========================
LOADER
==========================*/

#loader{

position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:#000;
display:flex;
justify-content:center;
align-items:center;
z-index:99999;

}

.loader-content{

text-align:center;

}

.loader-content h1{

font-size:55px;
margin-bottom:15px;
color:#00ff6e;

}

.loader-content p{

color:#ddd;
margin-bottom:30px;

}

.loader-bar{

width:320px;
height:8px;
background:#333;
border-radius:20px;
overflow:hidden;

}

.loader-fill{

height:100%;
width:0%;
background:#00ff6e;
animation:carga 2s linear forwards;

}

@keyframes carga{

0%{width:0%;}

100%{width:100%;}

}

/*==========================
HEADER
==========================*/

.header{

position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 7%;
background:rgba(0,0,0,.75);
backdrop-filter:blur(10px);
z-index:999;

}

.logo{

font-size:30px;
font-weight:bold;
color:#00ff6e;

}

.logo span{

color:white;

}

.header nav{

display:flex;
gap:25px;

}

.header nav a{

text-decoration:none;
color:white;
font-weight:500;
transition:.3s;

}

.header nav a:hover{

color:#00ff6e;

}

#menuMovil{

display:none;
background:none;
border:none;
font-size:30px;
color:white;
cursor:pointer;

}
/*==========================
HERO
==========================*/

.hero{

min-height:100vh;

background:
radial-gradient(circle at top,#1b1b1b 0%,#111 35%,#090909 70%,#000 100%);

display:flex;

justify-content:center;

align-items:center;

padding:140px 8% 80px;

position:relative;

overflow:hidden;

}

.hero::before{

content:"";

position:absolute;

width:700px;

height:700px;

background:#00c853;

filter:blur(220px);

opacity:.12;

top:-250px;

right:-250px;

border-radius:50%;

}

.hero::after{

content:"";

position:absolute;

width:500px;

height:500px;

background:#00e676;

filter:blur(180px);

opacity:.08;

bottom:-180px;

left:-180px;

border-radius:50%;

}

.overlay{

display:none;

}

.heroContenido{

position:relative;

z-index:5;

max-width:750px;

text-align:left;

}

.heroContenido h1{

font-size:68px;

font-weight:800;

line-height:1.1;

margin-bottom:25px;

color:white;

}

.heroContenido h1 span{

color:#00ff84;

}

.heroContenido p{

font-size:21px;

color:#cfcfcf;

line-height:1.8;

margin-bottom:35px;

}

.heroBotones{

display:flex;

gap:18px;

flex-wrap:wrap;

margin-top:20px;

}
